@use "variables" as var;
@use "mixins";
@use "nav";

.startpage {
  height: 100vh;
  color: var.$primarycolor;
  background-image: url(/assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;

  &__box {
    height: 90vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow {
    display: flex;
    justify-content: center;
    height: 10vh;
    a {
      color: var.$primarycolor;
    }
  }
}
