@use "variables" as var;
@use "mixins";

.startpage {
  height: 100vh;
  color: var.$primarycolor;
  background-image: url(/assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  &__menu {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100 vw;
    background-color: rgba(255, 255, 255, 0.14);
    ul {
      display: flex;
      list-style-type: none;
      a {
        color: var.$primarycolor;
        padding: 5px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__box {
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow {
    display: flex;
    justify-content: center;
    height: 10vh;
    a {
      color: var.$primarycolor;
    }
  }
}
