@use "variables" as var;
@use "mixins";

h2 {
  text-align: center;
}

#about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include mixins.tablet {
    justify-content: space-around;
  }
}

.member {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include mixins.tablet {
    width: 500px;
  }
  @include mixins.desktop {
    width: 600px;
  }

  &__name {
    text-align: center;
    width: 100pc;
  }

  &__imagebox {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0px 5px 15px rgba(174, 173, 173, 0.784);
    }
  }
  &__info {
    display: block;
    width: 300px;
    background-color: lightgrey;
    border-radius: 10px;
    @include mixins.tablet {
      width: 400px;
    }

    p {
      margin: 15px;
      i {
        display: inline-block;
        transform: rotate(180deg);
        font-size: 2.5em;
      }
    }
  }
}

.about__arrow {
  @include mixins.arrow;
  a {
    color: var.$secondarycolor;
  }
}
