@use "variables" as var;
@use "mixins";

#about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mixins.tablet {
    flex-direction: row;
    justify-content: space-around;
  }
  h2 {
    position: relative;
    top: 25px;
    text-align: center;
    width: 100%;
  }
}

.member {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80vh;
  width: 100%;

  @include mixins.desktop {
    width: 50%;
  }

  &__name {
    position: relative;
    text-align: center;
    width: 100%;
    top: 40px;
  }

  &__imagebox {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: flex;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0px 10px 15px rgba(174, 173, 173, 0.784);
      @include mixins.desktop {
        width: 300px;
        height: 300px;
      }
    }
  }
  &__info {
    width: 300px;
    background-color: lightgrey;
    border-radius: 10px;
    font-size: 0.8em;
    @include mixins.tablet {
      width: 400px;
    }

    p {
      margin: 15px;
      i {
        display: inline-block;
        transform: rotate(180deg);
        font-size: 2.5em;
      }
    }
  }
}

.about__arrow {
  @include mixins.arrow;
  a {
    color: var.$secondarycolor;
  }
}
