@use "variables" as var;
@use "mixins";

.contact {
  height: 80vh;
  background-color: var.$secondarycolor;
  padding-left: 70px;
  @include mixins.tablet {
    padding: 0;
    height: 30vh;
    display: flex;
    justify-content: space-around;
  }

  ul {
    font-size: 1.2em;
    padding: 10px;
    list-style-type: none;
    color: var.$primarycolor;
    li {
      padding: 10px;
    }
    a {
      text-decoration: none;
      color: var.$primarycolor;
    }
  }
}
